In [4]:
import duckdb
import pandas as pd

# Connect to DuckDB (relative path from notebooks folder)
con = duckdb.connect("../data/sakila.duckdb")

# Show tables
tables = con.execute("SHOW TABLES").fetchall()
print("Tables in DuckDB:", tables)

# Preview a table in the 'staging' schema
sample_data = con.execute("SELECT * FROM staging.actor LIMIT 5").fetchdf()
sample_data

Tables in DuckDB: []

,actor_id,first_name,last_name,last_update,_dlt_load_id,_dlt_id
0,1.0,PENELOPE,GUINESS,2021-03-06 15:51:59,1765206049.4797397,/n6D5pphutgN6g
1,2.0,NICK,WAHLBERG,2021-03-06 15:51:59,1765206049.4797397,vYtmfzoPJ99Pzg
2,3.0,ED,CHASE,2021-03-06 15:51:59,1765206049.4797397,CM6qcu0U+Apl4w
3,4.0,JENNIFER,DAVIS,2021-03-06 15:51:59,1765206049.4797397,SlvWobGEuMou6g
4,5.0,JOHNNY,LOLLOBRIGIDA,2021-03-06 15:51:59,1765206049.4797397,jRE9Gm1dmLgtBQ

In [5]:
con.execute("SELECT * FROM staging.actor LIMIT 5").df()

,actor_id,first_name,last_name,last_update,_dlt_load_id,_dlt_id
0,1.0,PENELOPE,GUINESS,2021-03-06 15:51:59,1765206049.4797397,/n6D5pphutgN6g
1,2.0,NICK,WAHLBERG,2021-03-06 15:51:59,1765206049.4797397,vYtmfzoPJ99Pzg
2,3.0,ED,CHASE,2021-03-06 15:51:59,1765206049.4797397,CM6qcu0U+Apl4w
3,4.0,JENNIFER,DAVIS,2021-03-06 15:51:59,1765206049.4797397,SlvWobGEuMou6g
4,5.0,JOHNNY,LOLLOBRIGIDA,2021-03-06 15:51:59,1765206049.4797397,jRE9Gm1dmLgtBQ